.DS_STORE

# docker-compose
docker-compose/mysql/data
!docker-compose/mysql/data/.gitkeep
docker-compose/mysql/log
!docker-compose/mysql/log/.gitkeep

docker-compose/redis/data
!docker-compose/redis/data/.gitkeep

docker-compose/redis-insight/data
!docker-compose/redis-insight/data/.gitkeep

# editor
.vscode/
launch.json